data/phyloseq-objects/physeq_agp.rds filter=lfs diff=lfs merge=lfs -text
data/aggregated-tables/AGP-2021/* filter=lfs diff=lfs merge=lfs -text
data/aggregated-tables/common-ASVs/*.csv filter=lfs diff=lfs merge=lfs -text
scripts/analysis-individual/AGP/00_Metadata-AGP/* filter=lfs diff=lfs merge=lfs -text
