.git/
.DS_Store
data_local/
standard-RAxML-master/
.Rproj.user/
.Rhistory
*.Rproj
*.fastq.gz
*.fastq
*.fa.gz
data/analysis-individual/*.rds
scripts/analysis-combined/plots/
scripts/analysis-individual/AGP/*.nb.html
scripts/analysis-individual/Pozuelo-2015/.ipynb_checkpoints/
scripts/analysis-combined/additional_scripts/
scripts/analysis-combined/scripts_cluster/
EDA/Scripts/Individual/AGP/agp_files/
Dockerfile
*.jpg
*.jpeg
*.png
*.gif

