errF.rds
errR.rds
forwardreads_primerposition.rds
infered_seq_F.rds
infered_seq_R.rds
mergers.rds
out2.rds
physeq_zhu_longASV.rds
raw_stats.rds
reversereads_primerposition.rds
taxa_zhu_longASV.rds
taxa_zhu_shortASV.rds
